@charset "UTF-8";

/* estilo geral */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #183255;
    --cor1: #0e6b88;
    --cor2: #4e89c1;
    --cor3: #11649b;
    --cor4: #000000;
    --cor5: #ffffff;
    --cor6: #d7eafa;
    --cor7: #4074b852;
}

html, body {
    background-color: var(--cor6);
}

header {
    background-color: var(--cor2);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-image: linear-gradient(to top, var(--cor3), transparent, var(--cor3));
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
}

#burguer:hover {
    background-image: linear-gradient(to top, transparent, var(--cor3), transparent);
    color: var(--cor0);
}

menu {
    display: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to top, var(--cor3), transparent, var(--cor3));
    color: var(--cor5);
    border-top: 2px solid var(--cor5);
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a:hover {
    background-color: var(--cor2);
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    background-color: var(--cor5);
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}